<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="!loggedInUser" routerLink="/login"
        ><span><i class="fa fa-sign-in-alt mr-1"></i>Bejelentkezés</span></a
      >
      <a mat-list-item *ngIf="loggedInUser" routerLink="/"
        ><span><i class="fa fa-home mr-1"></i>Kezdőlap</span></a
      >

      <div appSubMenu *ngIf="loggedInUser && loggedInUser.role === 0">
        <a mat-list-item #subMenuParent>
          <span><i class="fa fa-balance-scale mr-1"></i>Áfa kategóriák</span>
          <i #submenuIcon></i
        ></a>
        <a mat-list-item appSubMenuChild routerLink="/tax" class="submenu">Lista</a>
        <a mat-list-item appSubMenuChild routerLink="/tax/new" class="submenu">Új kategória</a>
      </div>

      <div appSubMenu *ngIf="loggedInUser && loggedInUser.role === 0">
        <a mat-list-item #subMenuParent>
          <span><i class="fa fa-stream mr-1"></i>Termék kategóriák</span>
          <i #submenuIcon></i
        ></a>
        <a mat-list-item appSubMenuChild routerLink="/product-category" class="submenu">Lista</a>
        <a mat-list-item appSubMenuChild routerLink="/product-category/new" class="submenu">Új kategória</a>
      </div>

      <a mat-list-item *ngIf="loggedInUser" routerLink="/logout"
        ><span><i class="fa fa-sign-out-alt mr-1"></i>Kijelentkezés</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Webshop</span>
      <div *ngIf="loggedInUser">
        {{ loggedInUser.userName }}
        <a matTooltip="Kilépés" class="logout-button" matListIcon routerLink="logout"
          ><i class="fa fa-sign-out-alt"></i
        ></a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
