:host {
  display: block;
  width: 95%;
  margin: 15px auto;
}

.gross {
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}

.w-33 {
  width: 33.33%;
}

.image-div {
  height: 200px;
  width: 66.66%;
  &-handset {
    width: 100%;
  }
}
