<div matSort>
  <mat-progress-bar color="secondary" *ngIf="this.isLoading" mode="indeterminate"></mat-progress-bar>
  <table *ngIf="dataSource$ | async as dataSource" mat-table [dataSource]="dataSource" class="w-100 mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="net">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Nettó ár</th>
      <td mat-cell *matCellDef="let element">{{ element.netPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef>Bruttó</th>
      <td mat-cell *matCellDef="let element">Ki kell számolni</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Típus</th>
      <td mat-cell *matCellDef="let element">{{ element.productType | productType }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Műveletek</th>
      <td mat-cell *matCellDef="let element">
        <i (click)="deleteProduct(element.id)" matTooltip="Törlés" class="mr-2 primary fa fa-trash-alt"></i
        ><i (click)="editProduct(element.id)" matTooltip="Szerkesztés" class="primary fa fa-edit"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
